/* 
    Gobal Styling
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: center;
    width: 100%;     
}


/* 
    Header Styling
*/

h1 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    font-size: 3rem;
    letter-spacing: .5rem;
}

header {
    padding-top: 2rem;
    box-sizing: border-box;
    width: 100vw;

}

header h1 {
    padding-bottom: 1rem;
    box-sizing: border-box;
}

/* 
    Navigation Styling
*/

nav ul {
    list-style: none;
    margin: 0;
    padding: .9rem 0;
    background: black;
    padding: 30px 0;
}

nav li {
    display: inline;
    padding: 1rem 0;
}

nav a {
    text-decoration: none;    margin: 0;
    padding: 1rem .8rem;
    color: white;      
    transition: 1s background-color;
}

/* nav a:hover, nav a:focus  {
    background-color: rgb(255, 255, 255);
    color: black;
    font-weight: bold;
    border-radius: 0rem 0rem .8rem .8rem;
    letter-spacing: 2px;
} */

/* 
    Looping video
*/

.loop-video video {
    background-color: aqua;
    width: 100vw;
}



hgroup {
    margin: 20px auto;
    text-align: center;
}

hgroup h2 {
    font-size: 2rem;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    letter-spacing: 1rem;
}

hgroup h3 {
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: .1rem;
}

/* 
    Index Content Styling
*/
.index-main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 30px;
    box-sizing: border-box;
    width: 100vw;
    
}

.index-info-card {
    width: auto;
    margin-bottom: 2rem;
}

.index-info-card p, h2 {
    width: auto;
}

.index-info-card h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .2rem;
    margin: 30px 0 15px;
}

.index-info-card p {
    text-align: justify;
    line-height: 1.2rem;
    letter-spacing: 1px;
}

/* 
    Footer Styling
*/

footer {
    padding: 10px 0;
    background: black;
}


/* 
    News Page Styling
*/

.side-links{
    display: grid;
    grid-template-columns: repeat(2, 1fr );
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    padding: 30px 20px;
    box-sizing: border-box;
}

.side-links li {
    list-style-type: none;
    
}

a {
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.news-content {
    padding: 4rem 2rem;
}

.news-doc h2 {
    font-size: 1.5rem;
    letter-spacing: .3rem;
    text-transform: uppercase;
    margin: 40px 0 20px;
}

.news-doc p {
    text-align: justify;
    line-height: 1.2rem;
    letter-spacing: 1px;
}

/* 
    About Us Page Styling
*/

.aboutUs-content {
    padding: 0rem 2rem;
    
}

.people-detail h2{
    margin: 2.5rem 0rem 1rem;
}

.people-detail p {
    text-align: justify;
    line-height: 1.2rem;
    letter-spacing: 1px;
    padding-bottom: 2rem;
}

/* 
    Contact Page styling
*/

.form-img {
    position: relative;
    bottom: 90px;
    z-index: -1;
}

form {
    position: relative;
    bottom: 50px;
    padding: 2rem;
}

input[type=text] {
    font-family: 'Roboto Condensed', sans-serif;
    padding: .5rem;
    margin: 1rem 0;
    border: 0;
    border-radius: 10px;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, .2);
}

textarea {
    width: 100%;
    resize: vertical;
    font-family: 'Roboto Condensed', sans-serif;
    padding: 10px;
    border-radius: 10px;
    border: 0px;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, .2);
    height: 150px;
    margin-bottom: 1rem;
}

button {
    background: black;
    color: white;
    padding: 12px 0;
    border: none;
    border-radius: 10px;
    font-weight: 600;
}